/*--- Nav Bar --*/
.navbar {
    margin-bottom: 0;
    background-color: rgb(71, 67, 67);
    z-index: 9999;
    border: 0;
    font-size: 10px !important;
    line-height: 1 !important;
    letter-spacing: 3px;
    border-radius: 0;

    height: 2%;
    width:100%;
  }
  
  .navbar li a, .navbar .navbar-brand {
    /* ---color: #fff !important; ---*/
    color: white !important;
    background-color: black !important;
    width: 100%;
  

  }
  

  .navbar-nav li a:hover {
    color: #f4511e !important;
    background-color: #d5c9c9 !important;
    

  }
  
  /*-- Dropdown Hamburger menu --*/
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #c90a0a !important;
  }

  .navbar img {
    float: left;
    height: 50px; 
    width: 50px;
    margin-top: -15px;
    margin-left: 0;
  }
 
  