/*--- Nav Bar --*/
.navbar {
    margin-bottom: 0;
    background-color: #26221b;
    z-index: 9999;
    border: 0;
    font-size: 11px !important;
    line-height: 1 !important;
    letter-spacing: 3px;
    border-radius: 0;
    color: black;
    height: 5%;
    width: 100%;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #ffffff !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  .navbar img {
    float: left;
    height: 20px; 
    margin-right: 15px;

  }
  